div.chat_box {
  height: 180px;
  border: none;
  width: 500px;
}

div.chat_box_div {
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  min-height: 179px;
  max-height: 180px;
}
ul.chat_box_list {
  list-style: none;
  margin: 5px 5px;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}
ul.chat_box_list > li.error {
  color: red;
}
ul.chat_box_list > li.system {
  color: yellow;
}
input.chat_box_input {
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
